/********** Generales **********/
a {
	color: #8C5069;
}

a:hover {
	color: #6C1D45;
}

div.oculto {
	display: none;
}

h1.titulo {
	padding: 8px 0 5px;
	margin-bottom: 40px;
	border-bottom: 2px solid #6C1D45;
	color: #6C1D45;
	font-size: 36px;
	text-align: center;
}

h3.titulo {
	padding: 8px 15px 5px;
	margin-bottom: 30px;
	background-color: #6C1D45;
	color: #FFFFFF;
	border-radius: 20px 0;
}

.glyphicon {
	font-family: "Glyphicons Halflings" !important;
}

.has-error .form-control {
	border-color: #D0021B !important;
}

.has-error .radio-inline {
	color: unset !important;
}

.has-error .form-text, 
.help-block {
	color: #D0021B !important;
}

.has-error .input-group-addon .glyphicon {
	color: #555555 !important;
}

.has-error .glyphicon-calendar {
	color: #919191 !important;
}

.has-error .input-group-addon {
	background-color: #EEEEEE !important;
}

.loading-layer {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.35);
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.placeholder {
	color: #999999;
}

.radio-perfil > input {
	visibility: hidden;
}

.radio-perfil > div {
	display: table;
	margin-top: -22px;
	margin-left: 20px;
	margin-right: 20px;
	width: 160px;
	height: 160px;
	border-width: 8px;
	border-color: #EEEEEE;
	border-style: solid;
	border-radius: 50%;
	transition: border-color 1s ease;
	cursor: pointer;
}

.radio-perfil span {
	display: inline-block;
	margin-top: 8px;
	color: #AAAAAA;
}

.radio-perfil > div.active + span {
	color: #000000;
}

.radio-perfil .profesor {
	background: url("../images/docente.png") no-repeat center center;
}

.radio-perfil .profesor.active {
	border-color: #000000;
	transition: border-color 0s ease;
	background: url("../images/docente-sel.png") no-repeat center center;
}

.radio-perfil .profesor.active:hover {
	border-color: #000000;
	transition: border-color 0s ease;
}

.radio-perfil .profesor:hover {
	border-color: #AAAAAA;
}

.radio-perfil .alumno {
	background: url("../images/alumno.png") no-repeat center center;
}

.radio-perfil .alumno.active {
	border-color: #000000;
	transition: border-color 0s ease;
	background: url("../images/alumno-sel.png") no-repeat center center;
}

.radio-perfil .alumno.active:hover {
	border-color: #000000;
	transition: border-color 0s ease;
}

.radio-perfil .alumno:hover {
	border-color: #AAAAAA;
}


/********** Barra de menú **********/

#mainWrapper .navbar {
	border-radius: 16px 0 16px 0;
}

#mainWrapper .navbar-default {
	background-color: #6C1D45;
}

#mainWrapper .navbar-nav > li > a {
	text-decoration: none;
}

#mainWrapper .navbar-default .navbar-nav > li > a, 
#mainWrapper .navbar-default .navbar-text {
	color: #FFFFFF;
}

#mainWrapper .navbar-default .navbar-nav > li > a:focus, 
#mainWrapper .navbar-default .navbar-nav > li > a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#mainWrapper .navbar-default .navbar-nav > .active > a, 
#mainWrapper .navbar-default .navbar-nav > .active > a:focus, 
#mainWrapper .navbar-default .navbar-nav > .active > a:hover {
	background-color: #8C5069;
	color: #FFFFFF;
}

#mainWrapper .navbar-default .navbar-nav > .open > a, 
#mainWrapper .navbar-default .navbar-nav > .open > a:focus, 
#mainWrapper .navbar-default .navbar-nav > .open > a:hover {
	color: #262626 !important;
}


/********** Botones switch **********/

.btn-switch {
	border: 1px solid #A0A0A0;
}

.btn-switch:last-of-type {
	margin-right: 10px;
}

.btn-switch.active:first-of-type {
	background-color: #449D44;
	color: #FFFFFF;
}

.btn-switch.active:last-of-type {
	background-color: #CC0000;
	color: #FFFFFF;
}


/********** Datatables **********/

.dataTable {
	width: 100%;
}

.dataTable td, 
.dataTable th {
	padding: 3px 5px; 
}

.dataTable th {
	white-space: nowrap; 
}

.dataTable img {
	max-width: 30px;
}

.dataTable .even {
	background-color: #DADADA;
}

.dataTables_filter {
	display: none;
}


/********** Páneles **********/

.panel-title {
	font-size: 20px;
}

.panel-title > a span.glyphicon-trash {
	top: 2px;
	margin-left: 10px;
	color: #656565;
}

.panel-body > div {
	margin-top: 15px;
}

.panel-body > a span.glyphicon-trash {
	float: right;
}

.panel-sm {
	margin-bottom: 80px;
	background-color: #EAEAEA;
	color: #656565;
}


/********** Modal alta usuario **********/

#perfil ol {
	padding-left: 25px;
}

#perfil li {
	padding-left: 10px;
}

/********** Tabs **********/

.tab-content {
	padding: 25px 0;
}

.tab-content .tab-pane {
	margin: 20px 0 30px;
}

.nav-tabs > .active > a, 
.nav-tabs > .active > a:focus, 
.nav-tabs > .active > a:hover {
	border: none;
	border-bottom: 4px solid;
}

.nav-tabs > li > a {
	border: none;
}

.nav > li > a:focus, 
.nav > li > a:hover {
	background-color: transparent;
}

.nav-tabs > li > a {
	border-radius: 0;
}

.nav-tabs > li > a {
	border-bottom: 4px solid #CCCCCC;
	color: #515151;
	font-size: 15px;
}

.nav-tabs > .active > a, 
.nav-tabs > .active > a:focus {
	border: none !important;
	border-bottom: 4px solid !important;
	border-bottom-color: #6C1D45 !important;
}

.nav-tabs > li > a:hover {
	border-bottom-color: #8C5069;
}

.wizard-steps li a {
	text-decoration: none;
	color: #000000;
}

.wizard-steps li.completed a {
	color: #FFFFFF;
}


/********** Ponencias ***********/
#coautores h5 {
	display: inline;
}

#coautores h5 + a {
	margin-left: 10px;
	color: #656565;
}

#coautores h5 + a span {
	top: 2px;
}

#ponencias label + a {
	top: 2px;
	margin-left: 10px;
	color: #656565;
}

#coautores .coauth > div {
	margin-bottom: 12px;
}


/********** Listado de solicitudes **********/
#lSolicitud hr.red {
	margin-bottom: 20px;
}